<h1>Search</h1>
<p>Search includes posts and users</p>
<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    
      <h3>
        <%= link_to user.name, controller: "users", action: "show", id: user._id%>
		
      </h3>
    
  <% end %>
</ul>
<h2>Posts</h2>
<ul>
  <% @posts.each do |post| %>
    
      <h3>
        <%= link_to post.content, controller: "posts", action: "show", id: post._id%>
		<% @post = post.user_id %>
		
		
      </h3>
    
  <% end %>
</ul>