<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3>Search</h3>
	<%= form_for search_path, method: :get do |f| %>
  <p>

    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
    <hr>
    <div id="users">
	<% @users.each do |user| %>
    
        <%= link_to user.name, controller: "users", action: "show", id: user._id%>
		
      
  <% end %>
     
    </div>
   
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>